.custom-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #E5DDE2;
    opacity: 1;
    margin: 0 5px;
    border-radius: 50%;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: #FD0786;
}